.slider {
	padding-top: 10px;
	height: 337px;
}

.slick-slider, .slick-list, .slick-track {
	height: 100%;
}

.slider__image {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
