#roster {
}

.rostering {
	position: relative;
	display: flex;
	border: solid 1px #979797;
	padding-top: 9px;
	padding-bottom: 27px;
	margin-top: 80px;
}

.roster {

}

.roster--artist {
	font-size: var(--heading-size-m);
	display: flex;
	justify-content: space-between;
	color: black;
	flex-grow: 1;
	width: 232px;
	font-size: 20px;
	height: 24px;
	margin-top: 19px;
	margin-left: 50px;
	border-bottom: 1pt solid black;
	font-family: 'bebas_neueregular';
	font-weight: normal;
}

.rostering__h2 {
	position: absolute;
	top: 24.5%;
	left: 0;
	transform: translateX(-85%) translateY(-75.5%) rotate(-90deg);
	font-size: 34px;
	height: 53px;
	margin-top: 0;
	color: #000;
	margin-bottom: var(--heading-marginbottom);
}
