#roster {
}

#roster::before {
	display: block;
	content: '';
	padding-top: 184px;
}

.roster {
	display: flex;
	border: 1pt solid rgba(0,0,0,0.45);
	justify-content: space-between;
	flex-wrap:wrap;
	padding: 10px 0px 15px 0;
	position: relative;
}

.roster--artist {
	font-size: var(--heading-size-m);
	display: flex;
	justify-content: space-between;
	color: black;
	flex-grow: 1;
	margin: 10px;
	width: 230px;
	max-width: 230px;
	border-bottom: 1pt solid black;
	padding: 0;
}

@media (min-width: 480px) {
	.roster--artist {
		margin: 13px 25px 13px 25px;
	}
}

.rostering__h2 {
	font-size: 44px;
	height: 53px;
	font-size: var(--heading-size-l);
	margin-top: 0;
	margin-bottom: var(--heading-marginbottom);
}
