.roster {
	display: flex;
	border: 1pt solid rgba(0,0,0,0.45);
	padding: 20px;
	justify-content: space-between;
	flex-wrap:wrap;
	padding: 0px 25px 0 0;
}

.roster--artist {
	font-size: var(--heading-size-m);
	display: flex;
	justify-content: space-between;
	color: black;
	flex-grow: 1;
	margin: 15px;
	width: 25%;
	border-bottom: 1pt solid black;
	padding: 0;

}
@media (min-width: 480px) {
	.roster--artist {
		margin: 25px 0 25px 45px;
	}
}

.rostering__h2 {
	font-size: 35px;
	font-size: var(--heading-size-l);
	margin-top: 102px;

}
