.artists {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 13px;
	padding-left: 12px;
	position: relative;
}

@media (min-width: 1024px) {
	.artists {
		flex-wrap: nowrap;
	}
}

.artist {
	padding: 25px 25px 25px 0;
}

@media (min-width: 480px) {
	.artist {
		padding: 25px;
	}
}

.artist--name {
	font-size: var(--heading-size-l);
	word-spacing: -2px;
}

.artist--offering, .artist--description {
	font-size: var(--heading-size-sm);
	word-spacing: 1px;
}

.artist--description {
	width: 80%;
}

.artist--locale {
	word-spacing: -3px;
}


.artist-wrapper {
	position: relative;
}

.artist-wrapper .seperator {
	height: 58%;
	width: 1px;
	border: 1px dashed black;
	opacity: 0.7;
	position: absolute;
	top: 52%;
	left: 90%;
	right: auto;
	bottom: auto;
	transform: translateY(-48%) translateX(-10%);
}

.artist-wrapper:last-of-type .seperator {
	display: none;
}
