.artists {
	display: flex;
	justify-content: space-between;
}

.artist {
	padding: 25px;
}

.artist--name {
	font-size: var(--heading-size-l);
}

.artist--offering, .artist--description {
	font-size: var(--heading-size-sm);
}

.artist--description {
	width: 80%;
}
