.artists {
	display: flex;
	justify-content: space-between;
}

.artist {
	padding: 25px;
}

.artist--name {
	font-size: var(--heading-size-l);
}

.artist--offering {
	font-size: var(--heading-size-sm);
}
