.about {
	padding-bottom: 50px;
}

.about__info {
	border: 1pt solid rgba(0,0,0,0.45);
	padding: 47px;
	display: flex;
	justify-content: space-between;
	position: relative;
	flex-direction: column;
}

@media (min-width: 480px) {
	.about__info {
		flex-direction: row;
	}
}

.about--info {
	width: 100%;
	margin-right: 30px;
	padding-right: 30px;
}

@media (min-width: 480px) {
	.about--info {
		width: 496px;
	}
}

.about__p {
	margin-top: 20px;
	font-size: var(--heading-size-m);
	line-height: 1.17;
}

.about__h2 {
	font-size: var(--heading-size-l);
	margin-top: 102px;
}

.about--contact {
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media (min-width: 480px) {
	.about--contact {
		width: 50%;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
}

.about--contact--name__h2 {
	font-size: 32.3px;
	margin-right: 30px;
	margin-top: 30px;
}

@media (min-width: 480px) {
	.about--contact--name__h2 {
		font-size: 44.3px;
		margin-top: 0;
	}
}

.vert-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	height: 161px;
	width :1px;
	border: 1px dashed black;
	display: none;
}

@media (min-width: 480px) {
	.vert-bar {
		display: block;
	}
}
