.about {
	position: relative;
	margin-top: 80px;
	margin-right: 134px;
	margin-left: 134px;
}

.about-blocks {
	display: flex;
	border: solid 1px #979797;
	align-items: center;
	justify-content: space-between;
	height: 198px;
}

.about--info {
	font-size: 20px;
}

.about__h2 {
	margin-top: 10px;
}


.block-left {
	height: 120px;
	margin-top: 39px;
	margin-bottom: 39px;
	margin-left: 48px;
}

.about-blocks .vert-bar {
	height: 121px;

}

.block-right {

}

.about__p {
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
	width: 431px;
}


.about--contact--social__span {
	margin-right: 37.3px;
}

.about--contact--social__span:last-of-type {
	margin-right: 172.2px;
}
