.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	margin-top: 3px;
	margin-left: 2px;
}

.navigation__brand {
}

.navigation__brand-name__h1 {
	margin: 0;
	font-size: 40px;
	font-size: var(--heading-size-xl-tablet)
}

@media (min-width: 1024px) {
	.navigation__brand-name__h1 {
		margin: 0;
		font-size: var(--heading-size-xl);
	}
}

.navigation__right-nav {
	align-self: flex-end;
}

.navigation__right-nav__ul {
	display: flex;
	padding-bottom: 15px;
}

.navigation__right-nav__li {
	text-transform: uppercase;
	color: inherit;
	font-size: 20px;
}

@media (min-width: 1024px) {
	.navigation__right-nav__li {
		font-size: 29.5px;
	}
}

.navigation__right-nav__li:not(:last-child) {
	margin-right: 25px;
}

.navigation__right-nav__li a {
	color: inherit;
}
