.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 113px;
	line-height: 113px;
	margin-bottom: 45px;
	margin-top: 53px;
}

.navigation__brand {
}

.navigation__brand-name__h1 {
	margin: 0;
	font-size: var(--heading-size-xl);
}

.navigation__right-nav {
	align-self: flex-end;
}

.navigation__right-nav__ul {
	display: flex;
	line-height: 1.5;
}

.navigation__right-nav__li {
	text-transform: uppercase;
	color: inherit;
	font-size: 38px;
}


.navigation__right-nav__li:not(:last-child) {
	margin-right: 25px;
}

.navigation__right-nav__li a {
	color: inherit;
}
