
.bookings {
}

.bookings__h2 {
  font-size: var(--heading-size-l);
	margin-top: 102px;
  margin-bottom: var(--heading-marginbottom);
}

.booker {
	border: 1pt solid rgba(0,0,0,0.45);
	padding: 27px 47px 15px 30px;
	position: relative;
}

.booker--name {
  font-size: 46.3px;
  line-height: 1.1;
}

.booker--email {
	font-size: 17.5px;
	color: black;
	margin-left: 2px;
}
.booker--email a {
	color: black;
}
.booker-social {
	margin-top: 50px;
	margin-left: 2px;
	display: flex;
}
.booker-social .social-icon {
	display: block;
}
.booker-social a {
	color: black;
	margin-right: 14px;
}
.booker--offering {
  font-size: calc(var(--heading-size-sm) + 3px);
	margin-left: 10px;
}

.bookings .vert-bar {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translateY(-50%) translateX(-70%);
	height: 160px;
	border: 1px dashed rgba(0,0,0,0.7);
}
