.bookings {
}

.bookings__h2 {
  font-size: var(--heading-size-l);
	margin-top: 102px;
  margin-bottom: 4px;

}

.booker {
	border: 1pt solid rgba(0,0,0,0.45);
	padding: 47px;
}

.booker--name {
  font-size: 44.3px;
}
.booker--email {
	font-size: 17.5px;
	color: black;
}
.booker--email a {
	color: black;
}
.booker-social {
	margin-top: 14px;
}
.booker-social a {
	color: black;
	margin-right: 14px;
}
.booker--offering {
  font-size: var(--heading-size-sm);
}
